// @todo Deprecate these classes as they have been replaced by the classes above

$spacer: 15px;

@each $space in (padding, margin) {
    @each $location in (top, right, bottom, left) {
        .droopy-#{$space}-#{$location} {
            #{$space}-#{$location}: $spacer !important;
        }

        .droopy-#{$space}-#{$location}--2x {
            #{$space}-#{$location}: ($spacer * 2) !important;
        }
    }
}

@each $bp in map-keys($breakpoints) {
    @each $alignment in (left, center, right) {
        .droopy-align-#{$bp}-#{$alignment} {
            @include respond-up($bp) {
                text-align: $alignment;
            }
        }
    }

    $infix: if($bp == xs, '', "-#{$bp}");

    .droopy-margin-#{$bp}-left {
        @extend .droopy-ml0#{$infix};
    }

    .droopy-margin-#{$bp}-center {
        @extend .droopy-mx#{$infix}-auto;
    }

    .droopy-margin-#{$bp}-right {
        @extend .droopy-mr0#{$infix};
    }
}

// Convenience classes

.droopy-margin-left {
    @extend .droopy-ml0;
}

.droopy-margin-center {
    @extend .droopy-mx-auto;
}

.droopy-margin-right {
    @extend .droopy-mr0;
}


@each $device in $devices {
    @for $i from 1 through $columnCount {
        .droopy-col-#{$i}-#{$device} {
            @extend %droopy-column;

            @include respond-to($device) {
                float: left;
                width: percentage($i / $columnCount);
            }
        }

        .droopy-offset-#{$i}-#{$device} {
            @include respond-to($device) {
                margin-left: percentage($i / $columnCount);
            }
        }
    }
}

@each $device in $devices {
    @each $alignment in (left, center, right) {
        .droopy-text-#{$alignment}-#{$device} {
            @include respond-to($device) {
                text-align: $alignment;
            }
        }
    }
}

.sidebar_icons,
.sidebar-icons {
    @extend .droopy-sidebar_icons;
}

.social_icons,
.social-icons {
    @extend .droopy-social_icons;
}

.droopy-img-fluid {
    @extend .droopy-img--fluid;
}

.droopy-img-rounded {
    @extend .droopy-img--rounded;
}

.droopy-img-circle {
    @extend .droopy-img--circle;
}

.droopy-img-thumbnail {
    @extend .droopy-img--thumbnail;
}

.droopy-text-color-red {
    @extend .droopy-text--red;
}

.droopy-sr-only__text {
    @extend .droopy-sr-only--text;
}

.droopy-sr-only__element {
    @extend .droopy-sr-only--element;
}

.droopy-album-text {
    @extend .droopy-media-object;
}
