$colors: (
    "red": #D00D2D
);

a.droopy-btn {
    color: #FFFFFF;
}

.droopy-btn {
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1.5;
    padding: .375rem 1rem;
    text-decoration: none;

    @each $name, $value in $colors {
        &.droopy-btn-#{$name} {
            background-color: $value;

            &:hover {
                background-color: darken($value, 5%);
            }
        }
    }
}