$gutter: 10px;

%droopy-column {
    box-sizing: border-box;
    display: block;
    float: left;
    min-height: 1px;
    padding: $gutter;
}

.droopy-row {
    @extend %clearfix;

    margin: {
        left: -1 * $gutter;
        right: -1 * $gutter;
    }
    width: 100%;
}

@each $device in $devices {
    @for $i from 1 through $columnCount {
        .droopy-col-#{$i}-#{$device} {
            @extend %droopy-column;

            @include respond-to($device) {
                width: percentage($i / $columnCount);
            }
        }
    }
}

/*
    Convenience classes
*/
.droopy-2x2-grid .tile {
    @extend .droopy-col-6-desktops;
}

.droopy-3x3-grid .tile {
    @extend .droopy-col-4-desktops;
    @extend .droopy-col-6-tablets;
}

.droopy-2x2-grid,
.droopy-3x3-grid {
    @extend .droopy-row;

    .tile {
        @extend %droopy-column;
        @extend .droopy-col-12-phones;

        img {
            margin-bottom: 5px;
            width: 100%;
        }
    }
}