// stylelint-disable selector-max-compound-selectors, declaration-no-important
// Necessary to override WebOne's styling

//
// Fix mobile tablets with weird navigation bar
//
@include respond-down(md) {
    .nav-dropdown__container.nav-dropdown__links {
        margin-bottom: 20px;
    }

    .layout-csun--navbar {
        display: none;
    }
}

//
// CSS Rules to hide the Droopy CSS/JS block that's injecting this code
//

.layout-csun--sidebar-left.sidebar {
    .panel-separator:nth-last-child(2),
    .pane-bundle-side-block:last-child {
        display: none;
    }
}

//
// Make news article listings somewhat prettier
//

.view-display-id-panel_pane_news .view-content .views-row,
.view-id-featured_events_by_group_id .view-content .views-row {

    // The actual container for the News article
    article {

    }

    // The headr of the article which contains title and date
    header {
        margin-bottom: 10px;

        @include respond-up(md) {
            margin-bottom: 0;
            margin-left: 105px;
        }

        h2 {
            margin-bottom: -5px;
        }
    }

    figure {
        @include respond-up(md) {
            margin-top: -40px;
        }
    }

    // Increase the specificity value to override WebOne
    div.field-name-field-lede {
        margin-left: 105px;
    }

    .field .read-more {
        float: right;
    }
}

//
// CSS rules to fix random issues
//

.pane-node .pane-title:nth-child(n+1) {
    margin: 1em 0 0.5em;
}

@mixin recursiveMenuNesting($value, $max) {
    .menu {
        li {
            padding-left: 0;

            a {
                padding-left: 15px * $value;
            }

            @if $value < $max {
                @include recursiveMenuNesting($value + 1, $max);
            }
        }
    }
}

.menu-block-wrapper > .menu {
    > li:last-of-type a {
        border-bottom: none;
    }
}

.sidebar .panel-pane.pane-menu-tree {
    padding: 0;

    h2.pane-title {
        padding: 0 15px;
    }

    .menu-block-wrapper li a {
        box-sizing: border-box;
        line-height: 1.4em;
        margin-left: 0;
        padding: 10px 0 10px 15px;

        &:focus,
        &:hover {
            margin-left: 0;
            padding-left: 15px;
        }
    }

    .menu {
        @include recursiveMenuNesting(2, 5);
    }
}

.ui-accordion {
    width: auto !important;
}

//
// Fix Droopy calendar CSS
//

.date-heading h2 {
    margin: 20px 0 !important;
}

.date-box {
    border-bottom: 0 !important;
}

.pager .date-prev {
    top: 0;
}

//
// Quick fix for Droopy Calendar embed
//

@media only screen and (max-width: 950px) {
    .calendar-calendar {
        .date-box td,
        .single-day td,
        .multi-day td,
        thead th {
            clear: none;
            float: none;
        }
    }
}
