%droopy-column {
    box-sizing: border-box;
    display: block;
    min-height: 1px;
    padding-left: $gutter;
    padding-right: $gutter;
}

.droopy-row {
    @extend %clearfix;

    margin-left: -1 * $gutter;
    margin-right: -1 * $gutter;
}

@each $bp in map-keys($breakpoints) {
    .droopy-col-#{$bp} {
        @include respond-up($bp) {
            float: left;
        }
    }

    @for $i from 1 through $columnCount {
        .droopy-col-#{$bp}-#{$i} {
            @extend %droopy-column;

            @include respond-up($bp) {
                float: left;
                width: percentage($i / $columnCount);
            }
        }

        .droopy-offset-#{$bp}-#{$i} {
            @include respond-up($bp) {
                margin-left: percentage($i / $columnCount);
            }
        }

        .droopy-reset-#{$bp} {
            @include respond-up($bp) {
                margin-left: 0;
            }
        }
    }

    @each $direction in (left, right) {
        .droopy-pull-#{$bp}-#{$direction} {
            @include respond-up($bp) {
                float: $direction;
            }
        }
    }
}

//
// Convenience classes
//
.droopy-2x2-grid .tile {
    @extend .droopy-col-md-6;
}

.droopy-3x3-grid .tile {
    @extend .droopy-col-lg-4;
    @extend .droopy-col-md-6;
}

.droopy-2x2-grid,
.droopy-3x3-grid {
    @extend .droopy-row;

    .tile {
        @extend %droopy-column;
        @extend .droopy-col-xs-12;

        img {
            display: block;
            margin-bottom: 5px;
            width: 100%;
        }
    }
}
