/**
 * CSS Rules to hide the Droopy CSS/JS block that's injecting this code
 */
.layout-csun--sidebar-left.sidebar .panel-separator:nth-last-child(2) {
    display: none;
}

.layout-csun--sidebar-left.sidebar .pane-bundle-side-block:last-child {
    display: none;
}

/**
 * CSS rules to fix random issues
 */

/* Reduce the margin for the page headers to be acceptable */
.pane-page-elements h1 {
    margin-bottom: 0;
}

/* Reduce the margin for the sidebar headers to be acceptable */
.sidebar .pane-menu-tree h2.pane-title {
    padding-bottom: 0;
}

.pane-node .pane-title:nth-child(n+1) {
    margin: 1em 0 0.5em;
}