/**
 * CSS Rules to hide the Droopy CSS/JS block that's injecting this code
 */
.layout-csun--sidebar-left.sidebar .panel-separator:nth-last-child(2) {
    display: none;
}

.layout-csun--sidebar-left.sidebar .pane-bundle-side-block:last-child {
    display: none;
}

/**
 * CSS rules to fix random issues
 */

.sidebar .panel-pane.pane-menu-tree {
    padding: 0;
}

.sidebar .panel-pane.pane-menu-tree h2.pane-title {
    padding: 0 12px;
}

.sidebar .panel-pane.pane-menu-tree .menu li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    line-height: 1.4em;
    padding: 10px 12px;
}

.pane-node .pane-title:nth-child(n+1) {
    margin: 1em 0 0.5em;
}