// Let's have this as a placeholder since WebOne already has a class for it
%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

// 
// CSS Rules to hide the Droopy CSS/JS block that's injecting this code
// 

.layout-csun--sidebar-left.sidebar {
    .panel-separator:nth-last-child(2), .pane-bundle-side-block:last-child {
        display: none;
    }
}

// 
// CSS rules to fix random issues
// 

.pane-node .pane-title:nth-child(n+1) {
    margin: 1em 0 0.5em;
}

.sidebar .panel-pane.pane-menu-tree {
    padding: 0;
    
    h2.pane-title {
        padding: 0 15px;
    }

    .menu-block-wrapper > .menu {
        li {
            a {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                line-height: 1.4em;
                margin: 0 !important;
                padding: 10px 15px !important;
            }

            > .menu li {
                padding: 0;

                a {
                    padding: 10px 30px !important;
                }
            }
        }

        > li:last-child > a {
            border-bottom: 0;
        }
    }
}

// 
// Fix Droopy calendar CSS
// 

.date-heading h2 {
    margin: 20px 0 !important;
}

.date-box {
    border-bottom: 0 !important;
}

.pager .date-prev {
    top: 0;
}

// 
// Add Bootstrap-like quoteblocks since WebOne doesn't support blockquotes well
// 

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
    
    p:last-child,
    ul:last-child,
    ol:last-child {
        margin-bottom: 0;
    }

    footer,
    small,
    .small {
        display: block;
        font-size: 80%;
        line-height: 1.428571429;
        color: #777777;
    }

    footer:before,
    small:before,
    .small:before {
        content: '\2014 \00A0';
    }
}

// 
// Make a calendar icon from a time element
// 

time.droopy-cal {
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
    font-size: 1em;
    display: block;
    height: 70px;
    overflow: hidden;
    width: 70px;

    * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

    strong {
        background-color: #C30000;
        border-bottom: 1px dashed #FF7474;
        box-shadow: 0 2px 0 #C30000;
        color: #fff;
        padding: 2px 0 0;
        position: absolute;
        top: 0;
    }

    em {
        bottom: 0.1em;
        color: #C30000;
        font-size: 0.80em;
        position: absolute;
    }

    span {
        color: #2f2f2f;
        font-size: 24px;
        letter-spacing: -0.05em;
        padding-top: 1.2em;
        width: 100%;
    }
}

// 
// A mobile responsive 3x3 grid
// 

.droopy-2x2-grid,
.droopy-3x3-grid {
    @extend %clearfix;
}

.droopy-2x2-grid .tile {
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 50%;
}

.droopy-3x3-grid .tile {
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 33%;
}

//
//Media queries for tablets
//
@media only screen and (max-width: 60em) {
    // 
    // A tile for a 3x3 grid
    // 
    .droopy-3x3-grid .tile {
        width: 50%;
    }

    // 
    // Fix mobile tablets with weird navigation bar
    // 
    .nav-dropdown__container.nav-dropdown__links {
        margin-bottom: 20px;
    }

    .layout-csun--navbar {
        display: none;
    }
}

//
// Media queries for phones
//
@media only screen and (max-width: 30em) {
    // 
    // A tile for a 3x3 grid
    // 
    .droopy-2x2-grid .tile, .droopy-3x3-grid .tile {
        display: block;
        width: 100%;
    }
}
