@mixin respond-to($device) {
    @if ($device == phones) {
        @media only screen and (max-width: 30em) { @content; }
    }
    @else if ($device == phablets) {
        @media only screen and (max-width: 45em) { @content; }
    }
    @else if ($device == tablets) {
        @media only screen and (max-width: 60em) { @content; }
    }
}

// Let's have this as a placeholder since WebOne already has a class for it
%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

//
// A layout for sidebar icons that works properly on mobile devices
//

.sidebar_icons {
    @extend %clearfix;

    text-align: center;
    width: 100%;

    @include respond-to(tablets) {
        margin-top: 10px;
    }

    > div {
        float: left;
        width: 50%;

        @include respond-to(tablets) {
            width: 16.66%;
        }

        @include respond-to(phablets) {
            width: 33%;
        }
    }

    img {
        margin: 0 !important;
    }

    p {
        font-size: 12px;
        margin-top: 5px;
        text-transform: uppercase;
    }
}

//
// A layout for social icons
//

.social_icons {
    text-align: center;

    a:last-child {
        img {
            margin-right: 0 !important;
        }
    }
}

// 
// A mobile responsive 3x3 grid
// 

.droopy-2x2-grid,
.droopy-3x3-grid {
    @extend %clearfix;

    .tile {
        --moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding: 10px;

        @include respond-to(phones) {
            display: block;
            width: 100%;
        }
    }
}

.droopy-2x2-grid .tile {
    width: 50%;
}

.droopy-3x3-grid .tile {
    width: 33%;

    @include respond-to(tablets) {
        width: 50%;
    }
}

// 
// Fix mobile tablets with weird navigation bar
// 
@include respond-to(tablets) {
    .nav-dropdown__container.nav-dropdown__links {
        margin-bottom: 20px;
    }

    .layout-csun--navbar {
        display: none;
    }
}

// 
// CSS Rules to hide the Droopy CSS/JS block that's injecting this code
// 

.layout-csun--sidebar-left.sidebar {
    .panel-separator:nth-last-child(2), .pane-bundle-side-block:last-child {
        display: none;
    }
}

// 
// CSS rules to fix random issues
// 

.pane-node .pane-title:nth-child(n+1) {
    margin: 1em 0 0.5em;
}

.sidebar .panel-pane.pane-menu-tree {
    padding: 0;
    
    h2.pane-title {
        padding: 0 15px;
    }

    .menu-block-wrapper > .menu {
        li {
            a {
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                line-height: 1.4em;
                margin: 0 !important;
                padding: 10px 15px !important;
            }

            > .menu li {
                padding: 0;

                a {
                    padding: 10px 30px !important;
                }
            }
        }

        > li:last-child > a {
            border-bottom: 0;
        }
    }
}

// 
// Fix Droopy calendar CSS
// 

.date-heading h2 {
    margin: 20px 0 !important;
}

.date-box {
    border-bottom: 0 !important;
}

.pager .date-prev {
    top: 0;
}

// 
// Add prettier quoteblocks since WebOne doesn't support blockquotes well
// 

blockquote {
    color: #383838;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.45;
    margin: 0.25em 0;
    padding: 0.8em 40px 0.35em 45px !important;
    position: relative;

    &:before {
        color: #7a7a7a;
        content: "\201C";
        display: inline;
        font-size: 80px;
        left: 0;
        line-height: .22;
        position: absolute;
        vertical-align: middle;
        top: 40px;
    }

    p:first-child {
        margin-top: 10px;
    }
  
    footer,
    small {
        display: block;
        font-size: 80%;
        line-height: 1.428571429;
        color: #777777;
    }

    footer:before,
    small:before {
        content: '\2014 \00A0';
    }
}

// 
// Make a calendar icon from a time element
// 

time.droopy-cal {
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
    font-size: 1em;
    display: block;
    height: 70px;
    overflow: hidden;
    width: 70px;

    * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

    strong {
        background-color: #C30000;
        border-bottom: 1px dashed #FF7474;
        box-shadow: 0 2px 0 #C30000;
        color: #fff;
        padding: 2px 0 0;
        position: absolute;
        top: 0;
    }

    em {
        bottom: 0.1em;
        color: #C30000;
        font-size: 0.80em;
        position: absolute;
    }

    span {
        color: #2f2f2f;
        font-size: 24px;
        letter-spacing: -0.05em;
        padding-top: 1.2em;
        width: 100%;
    }
}