//
// Add prettier quoteblocks since WebOne doesn't support blockquotes well
//

// stylelint-disable declaration-no-important
// the !important is needed to override WebOne's styling
blockquote.droopy-blockquote {
    color: #383838;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.45;
    margin: 0.25em 0;
    padding: 0.8em 40px 0.35em 45px !important;
    position: relative;

    &::before {
        color: #7a7a7a;
        content: '\201C';
        display: inline;
        font-size: 80px;
        left: 8px;
        line-height: 0.22;
        position: absolute;
        top: 40px;
    }

    p:first-child {
        margin-top: 10px;
    }

    footer {
        color: #7a7a7a;
        display: block;
        font-size: 80%;
        line-height: 1.428571429;
    }

    footer::before {
        content: '\2014 \00A0';
    }
}
