$colors: (
    'red': #d00d2d
);

a.droopy-btn {
    color: #ffffff;
}

.droopy-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    text-decoration: none;

    @each $name, $value in $colors {
        &.droopy-btn-#{$name}, // @todo Deprecated
        &.droopy-btn--#{$name} {
            background-color: $value;

            &:hover {
                background-color: darken($value, 5%);
            }

            &.droopy-btn--hollow:not(:hover) {
                background-color: transparent;
                border: 1px solid $value;
                color: $value;
            }
        }
    }
}

.field-name-field-event-registration a {
    @extend .droopy-btn;
    @extend .droopy-btn-red;

    font-size: 1rem;
}
