// stylelint-disable declaration-no-important
// Necessary to override WebOne's default styling

//
// A layout for the sidebar quick links
//

.droopy-sidebar_icons {
    @extend .droopy-row;

    margin-top: 10px;
    text-align: center;

    @include respond-up(md) {
        margin-top: 0;
    }

    > div {
        @extend .droopy-col-xs-6;
        @extend .droopy-col-sm-4;
        @extend .droopy-col-md-2;
        @extend .droopy-col-lg-6;
    }

    img {
        margin: 0 !important;
        width: 65px;
    }

    p {
        font-size: 12px;
        margin-top: 5px !important;
        text-transform: uppercase;
    }
}

//
// A layout for the social icons in the sidebar
//

.droopy-social_icons {
    text-align: center;

    img {
        margin-right: 10px;
    }

    a:last-child {
        img {
            margin-right: 0 !important;
        }
    }
}
