@each $bp in map-keys($breakpoints) {
	@each $alignment in (left, center, right) {
		.droopy-align-#{$bp}-#{$alignment} {
			@include respond-up($bp) {
				text-align: $alignment;
			}
		}
	}

	.droopy-margin-#{$bp}-left  {
		@include respond-up($bp) {
			margin-left: 0;
		}
	}

	.droopy-margin-#{$bp}-center  {
		@include respond-up($bp) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.droopy-margin-#{$bp}-right  {
		@include respond-up($bp) {
			margin-right: 0;
		}
	}
}
