@each $bp in map-keys($breakpoints) {
    @each $alignment in (left, center, right) {
        .droopy-align-#{$bp}-#{$alignment} {
            @include respond-up($bp) {
                text-align: $alignment;
            }
        }
    }

    .droopy-margin-#{$bp}-left {
        @include respond-up($bp) {
            margin-left: 0;
        }
    }

    .droopy-margin-#{$bp}-center {
        @include respond-up($bp) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .droopy-margin-#{$bp}-right {
        @include respond-up($bp) {
            margin-right: 0;
        }
    }
}

// Convenience classes

.droopy-margin-left {
    @extend .droopy-margin-xs-left;
}

.droopy-margin-center {
    @extend .droopy-margin-xs-center;
}

.droopy-margin-right {
    @extend .droopy-margin-xs-right;
}
