$colors: (
    'red': #d00d2d
);

a.droopy-btn {
    color: #ffffff;
}

.droopy-btn {
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    text-decoration: none;

    @each $name, $value in $colors {
        &.droopy-btn-#{$name} {
            background-color: $value;

            &:hover {
                background-color: darken($value, 5%);
            }
        }
    }
}
