.droopy-img-fluid {
	display: block;
	height: auto;
	max-width: 100%;
}

.droopy-img-rounded {
	border-radius: 5px;
}

.droopy-img-circle {
	border-radius: 50%;
}

.droopy-img-thumbnail {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
    height: auto;
    max-width: 100%;
	padding: .25rem;
}