//
// The droopy-album-text* classes have been renamed to droopy-media-object*
//

.droopy-album-text,
.droopy-media-object {
    @extend %clearfix;

    margin: 1.3em 0;

    img {
        @extend .droopy-img-fluid;
        @extend .droopy-margin-center;
    }
}

.droopy-album-text--left .droopy-album-image,
.droopy-media-object--left .droopy-media-object-image {
    @include respond-up(md) {
        margin-right: 15px;
    }
}

.droopy-album-text--right .droopy-album-image,
.droopy-media-object--right .droopy-media-object-image {
    @include respond-up(md) {
        margin-left: 15px;
    }
}