// @todo The underscore classes will be deprecated in the next major release

/*
    A layout for the sidebar quick links
*/

.sidebar_icons,
.sidebar-icons {
    @extend .droopy-row;

    margin-top: 10px;
    text-align: center;

    @include respond-up(md) {
        margin-top: 0;
    }

    > div {
        @extend .droopy-col-xs-6;
        @extend .droopy-col-sm-4;
        @extend .droopy-col-md-2;
        @extend .droopy-col-lg-6;
    }

    img {
        margin: 0 !important;
    }

    p {
        font-size: 12px;
        margin-top: 5px;
        text-transform: uppercase;
    }
}

/*
    A layout for the social icons in the sidebar
*/

.social_icons,
.social-icons {
    text-align: center;

    a:last-child {
        img {
            margin-right: 0 !important;
        }
    }

    img {
        margin-right: 10px;
    }
}