/*
    A layout for the sidebar quick links
*/

.sidebar_icons {
    @extend .droopy-row;

    text-align: center;

    @include respond-to(tablets) {
        margin-top: 10px;
    }

    > div {
        @extend .droopy-col-6-desktops;
        @extend .droopy-col-2-tablets;
        @extend .droopy-col-4-phablets;
    }

    img {
        margin: 0 !important;
    }

    p {
        font-size: 12px;
        margin-top: 5px;
        text-transform: uppercase;
    }
}

/*
    A layout for the social icons in the sidebar
*/

.social_icons {
    text-align: center;

    a:last-child {
        img {
            margin-right: 0 !important;
        }
    }
}