/*
    Make a calendar icon from a time element

    Example:

        <time datetime="2015-06-04" class="droopy-cal">
            <em>Thursday</em>
            <strong>June</strong>
            <span>04</span>
        </time>
*/

time.droopy-cal {
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 
        0 1px 0 #bdbdbd, 
        0 2px 0 #fff, 
        0 3px 0 #bdbdbd, 
        0 4px 0 #fff, 
        0 5px 0 #bdbdbd, 
        0 0 0 1px #bdbdbd;
    display: inline-block;
    font-family: "Helvetica Neue Bold", arial, helvetica, sans-serif;
    font-size: 1em;
    height: 70px;
    position: relative;
    overflow: hidden;
    width: 70px;

    * {
        display: block;
        width: 100%;
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        text-align: center;
    }

    strong {
        background-color: #C30000;
        border-bottom: 1px dashed #FF7474;
        box-shadow: 0 2px 0 #C30000;
        color: #fff;
        padding: 2px 0 0;
        position: absolute;
        top: 0;
    }

    em {
        bottom: 0.1em;
        color: #C30000;
        font-size: 0.80em;
        position: absolute;
    }

    span {
        color: #2f2f2f;
        font-size: 24px;
        letter-spacing: -0.05em;
        padding-top: 1.2em;
        width: 100%;
    }
}